.sub-header {
  width: 100%;
  background: #9ccfca;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 95%;
  height: 100px;
  display: flex;
  background: red;
  align-items: center;
  border-radius: 20px;
}
